<h1>Changes</h1>

<p>
  Show:
  <%= ([link_to('All', changes_path)] + change_item_types.map { |type| link_to(type.pluralize, changes_path(type: type)) }).join(' | ').html_safe %>
</p>

<%= form_tag changes_path, method: :get, class: 'changes_date_filter' do %>
  <%= hidden_field_tag :type, params[:type] if params[:type] %>
  <%= hidden_field_tag :id, params[:id] if params[:id] %>
  <label for="from">From:</label>
  <%= date_field_tag :from, params[:from], id: 'from' %>
  <label for="to">To:</label>
  <%= date_field_tag :to, params[:to], id: 'to' %>
  <%= submit_tag 'Filter', name: nil %>
  <% if params[:from].present? || params[:to].present? %>
    <%= link_to 'Clear', changes_path(type: params[:type], id: params[:id]), class: 'clear_filter' %>
  <% end %>
<% end %>
<div class="table-responsive">
  <table class='changes_table table table-bordered'>
    <tfoot>
      <tr>
        <td colspan='2'>
          <%= paginate @versions %>
        </td>
      </tr>
    </tfoot>
    <thead>
      <tr class='changes_header'>
        <th class='change_time'>Time</th>
        <th class='change_details'>Attribute with previous and current values</th>
      </tr>
    </thead>
    <tbody>
      <% if @versions.any? %>
        <% @versions.each do |version| %>
          <% next unless change_show_allowed?(version) %>
          <%= render partial: 'version', object: version %>
        <% end %>
      <% else %>
        <tr>
          <td colspan='2'> &mdash; No changes found &mdash; </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
